<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocketChat</title>

    <script type="module">
        // Importamos la librería de socket.io
        import { io } from "https://cdn.socket.io/4.7.5/socket.io.esm.min.js";
        const socket = io('http://localhost:4000'); // Socket.io se conecta al servidor del chat

        const form = document.getElementById('form')
        const input = document.getElementById('input')
        const messages = document.getElementById('messages')
        
        socket.on('chat message', (msg) => { //Se llama cada vez que se recibe un mensaje
            const item = document.createElement('li');
            item.textContent = msg;
            messages.insertAdjacentElement('beforeend', item);
        });

        form.addEventListener('submit', function(e) {
            e.preventDefault();

            if (input.value) { // Si tenemos algun valor en el input se envía el valor al servidor
                socket.emit('chat message', input.value);
                input.value = '';
            }
        });
    </script>
</head>
<body>
    <h1>Eso tiling</h1>

    <ul id="messages">
        
        <!-- Aquí mete los mensajes del chat -->
    </ul>

    <form id="form" action="">
        <input id="input" autocomplete="off" />
        <button type="submit">Send</button>
    </form>
</body>
</html>